
<div class="alert alert-danger mb-3" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div class="alert alert-success mb-3" *ngIf="successMessage">
  {{successMessage}}
</div>
<!--  -->
<div class="accordion-item">
  <h2 class="accordion-header" id="headingThree">
    <button
      class="accordion-button collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseThree"
      aria-expanded="false"
      aria-controls="collapseThree"
    >
      <span>
        <i class="bi bi-plus-circle"></i>
        Add a new Certification.
      </span>
    </button>
  </h2>
  <div
    id="collapseThree"
    class="accordion-collapse collapse"
    aria-labelledby="headingThree"
    data-bs-parent="#accordionExample"
  >
    <div class="accordion-body">
      <form
        (ngSubmit)="onSave()"
        [formGroup]="certificateForm"
        novalidate
      >
        <!-- First Input Field For Certification -->
        <div class="form-floating mb-3">
          <select
            class="form-select text-capitalize"
            id="floatingSelect"
            formControlName="slug"
            aria-label="Floating label select example"
          >
            <option selected>Select Menu</option>
            <option
              value="{{ item.slug }}"
              class="text-capitalize"
              *ngFor="let item of vendor"
            >
              {{ item.slug }}
            </option>
          </select>
          <label for="floatingSelect">Select Vendor</label>
        </div>

        <!-- Second input field for Certification -->
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="certificateName"
            id="floatingInput"
            placeholder="Enter certification name."
          />
          <label for="floatingInput">Certification Name</label>
        </div>

        <!-- Third Input Field for Certification -->
        <div class="form-floating mb-3">
          <select
            class="form-select"
            id="floatingSelect"
            formControlName="status"
            aria-label="Floating label select example"
          >
            <option selected>Select Menu</option>
            <option value="true">Enable</option>
            <option value="false">Disable</option>
          </select>
          <label for="floatingSelect">Select Status</label>
        </div>

        <div class="justify-content-around d-flex">
          <button class="btn btn-info" type="submit">Add Certification</button>
          <button class="btn btn-danger" type="reset">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- table -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Certification</th>
      <th scope="col">Slug</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of certificates; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.certificateName }}</td>
      <td>{{ item.slug }}</td>
      <td>{{ item.status }}</td>
      <td class="d-flex justify-content-between gap-2">
        <button class="btn btn-warning w-50" (click)="onUpdate(item._id)">Edit</button>
        <button class="btn btn-danger w-50" (click)="onDelete(item._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
