<nav class="border-bottom fs-5 fw-bold">
  <section class="container py-3">
    <ul class="nav row gap-2 py-2 justify-content-between">
      <li class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-12">
        <img src="assets/images/logo.png" class="w-100" alt="">
      </li>

      <li class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-12">
        <div
          class="
            d-flex
            mx-auto
            gap-2
            justify-content-lg-end justify-content-md-end
          "
        >
          <app-user-button></app-user-button>
        </div>
      </li>
    </ul>
  </section>
</nav>
