.nav-link {
  color: gray;
  font-style: italic;
}

.nav-link:hover {
  color: skyblue;
}

.nav-link:active {
  color: brown;
  text-decoration: underline;
}
/* 
.image{
    height: 16px;
    width: 16px;
} */
