<footer class="mt-5">
  <!-- <section class="bg-info py-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <h2 class="text-center text-light">Top Microsoft Exam</h2>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <h2 class="text-center text-light">Top Amazon Exam</h2>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <h2 class="text-center text-light">Top Google Exam</h2>
        </div>
      </div>
    </div>
  </section> -->
  <section class="bg-dark text-light text-center py-3">
    <p>
      &copy; Copyright {{year}}<a routerLink="/" class="text-info"> dumpsHub</a>.
      All Rights Reserved.
    </p>
  </section>
</footer>
