<div class="div h-100">
  <ul class="nav flex-column gap-2 mx-2">
    <li>
      <button class="btn btn-outline-secondary border-2 rounded-0 w-100">
        Overview
      </button>
    </li>
    <li>
      <button
        class="btn btn-outline-secondary border-2 rounded-0 w-100"
        routerLink="vendor"
      >
        Vendors
      </button>
    </li>
    <li>
      <button class="btn btn-outline-secondary border-2 rounded-0 w-100" routerLink="certification">
        Certificates
      </button>
    </li>
    <li>
      <button class="btn btn-outline-secondary border-2 rounded-0 w-100" routerLink="exams">
        Exams
      </button>
    </li>
    <li>
      <button class="btn btn-outline-secondary border-2 rounded-0 w-100">
        coupons
      </button>
    </li>
    <li>
      <button class="btn btn-outline-secondary border-2 rounded-0 w-100" routerLink="customer">
        Customer
      </button>
    </li>
    <li>
      <button class="btn btn-secondary border-2 rounded-0 w-100">
        Update Exams
      </button>
    </li>
    <li>
      <button class="btn btn-secondary border-2 rounded-0 w-100">
        Send Email
      </button>
    </li>
  </ul>
</div>
